:root{
    --bodycolor: #2e343f;
    --bluecolor: #61DAFB;
    --bodyheight: 415px;
}
#body{
    background-color: var(--bodycolor);
    height: var(--bodyheight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#bodyreactlogo{
    font-size: 65px;
    color: var(--bluecolor);
    padding: 10px 0px;
}
#bodypara{
    padding: 10px 0px;
    color: white;
    font-size: 30px;
}
#bodytwobuttons{
    padding-top: 69px;
}
#firstlink{
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    font-size: 20px;
    background-color: var(--bluecolor);
    transition: 0.2s ease-in;
}
#firstlink:hover{
    background-color: white;
    transition: 0.2s ease-in;
}
#secondlink{
    color: var(--bluecolor);
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
    transition: 0.2s ease-in;
}
#secondlink:hover{
    color: white;
    transition: 0.2s ease-in;
    
}