#frontend{
    display: flex;
    flex-direction: column;
}
#backend{
    display: flex;
    flex-direction: column;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsTitle{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.cardsObject{
    width: 342px;
    height: 144px;
    background-color: rgb(255, 196, 0);
    margin: 2px 10px;
    transition: 0.2s ease;
}
.cardsObject:hover{
    background-color: yellow;
    transition: 0.2s ease;
}
