#tabsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabsectionUpper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tabsectionLower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titleTabsection{
    font-size: 35px;
    letter-spacing: 4px;
}
.middleTitleTabSection{
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 0px;
    opacity: 0.7;
}
#buttonsTabSection{
    margin: 40px 0px;
    padding-top: 15px;
}
#buttonsTabSection > a{
    transition: 0.2 ease-in;
    padding: 15px 40px;
    background-color: #8f8f8f;
    cursor: pointer;
    margin: 2px 10px;
    outline: none;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
}
#buttonsTabSection > a:hover{
    background-color: #3488d1;
    transition: 0.2s ease-in;
}
.tabsectionMiddle > img{
    width: 70vw;
    height: 90vh;
}
.tabsectionLower{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabsectionLowerTitle{
    font-size: 25px;
    letter-spacing: 3px;
}
.tabsectionParabelowTitle{
    font-size: 15px;
    opacity: 0.7;
    width: 60vw;
    height: 20vh;
    text-align: center;
    margin: 5px 0px;
    padding: 2px 0px;
}